<!DOCTYPE html>
<html>
<head>
	<meta charset-"UTF-8">
	<title>Runner</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/phaser.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

	<!-- canvas created by phaser -->
	<div id="screen"></div>

	<script src="js/versusIntro.js"></script>
</body>
</html>